<header class="site-header" role="banner">

  <div class="wrapper">
    {%- include theme-toggle.html -%}
    
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
      <span class="site-title-desktop">{{ site.title | escape }}</span>
      <span class="site-title-mobile">WISHARDRY'S<br>RED ROOM</span>
    </a>

    <nav class="site-nav">
      {%- for path in site.pages -%}
        {%- if path.title and path.permalink -%}
          <a class="page-link" href="{{ path.url | relative_url }}">{{ path.title | escape }}</a>
        {%- endif -%}
      {%- endfor -%}
    </nav>
  </div>

</header>
